* {
  box-sizing: border-box;
}

body {
  font-family: system-ui, sans-serif;
  margin: 20px;
  background-color: #fafafa;
}

/*formulário centralizado e com borda */
main {
  max-width: 500px;
  margin: 0 auto;
  background: white;
  padding: 20px;
  border: 1px solid #ddd;
}

input,
textarea {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
}

/* estilo do botão de postar */
button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 4px;
}

button:hover {
  background-color: #0056b3;
}

.post-criado {
  background-color: #f0f0f0;
  padding: 15px;
  border-radius: 8px;
  margin-top: 10px;
}
